{{#link-to 'index'}}
  <i class='glyphicon glyphicon-chevron-left'></i>Back
{{/link-to}}
<h1>{{title}}</h1>

<form class="add-new">
  <div class="input-group">
    {{input type="text" id="new-item" class="form-control" placeholder="New Item" value=newItem action="createNewItem"}}
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" {{action "createNewItem"}}> &plus;</button>
    </span>
  </div><!-- /input-group -->
</form>

<ul class="list-group">
  {{#each items}}
    <li class="list-group-item">
      {{name}}
    </li>
  {{/each}}
</ul>
