{{#link-to 'index'}}
  <i class='glyphicon glyphicon-chevron-left'></i>Back
{{/link-to}}
<h1>{{title}}</h1>

<form class="add-new">
  <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">&plus;</button>
    </span>
  </div><!-- /input-group -->
</form>

<ul class="list-group">
  {{#each items}}
    <li class="list-group-item">
      {{name}}
    </li>
  {{/each}}
</ul>
