<h1>Categories</h1>

<div class="form-group">
  <div class="input-group">
    {{input type="text" id="new-category" class="form-control" placeholder="New Category" value=newCategory action="createNewCategory"}}
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" {{action "createNewCategory"}}>&plus;</button>
    </span>
  </div><!-- /input-group -->
</div>

<ul class="list-group">
  <li class="list-group-item">
  {{#link-to 'items'}} All{{/link-to}}
  </li>
  {{#each}}
  <li class="list-group-item">
    {{#link-to 'category' id}} {{title}} {{/link-to}}
   </li>
  {{/each}}
</ul>

